<section id="about">
  <div class="row">
     <div class="three columns">

        <img class="profile-pic"  src="{{ site.baseurl }}/assets/images/profilepic.jpg" alt="" />

     </div>

     <div class="nine columns main-col">

        <h2>About Me</h2>

        <p>I am a resident apprentice at 8th Light, currently working towards a full software craftsmanship position. I am especially interested in the overlap between science and software - scientific computing, quantum computing, big data, and data visualization. I spend my free time reading <a href="http://www.goodreads.com/cmvandrevala">textbooks</a>, playing with <a href="http://github.com/cmvandrevala">code</a>, and hosting a <a href="http://blog.cupcakephysics.com">physics blog.</a></p>

        <div class="row">

           <div class="columns contact-details">

              <h2>Contact Details</h2>
              <p class="address">
					   <span>Cyrus Vandrevala</span><br>
					   <span>8th Light Inc.<br>
						     412 S Wells St.<br>
						     Suites 900 and 1000<br>
						     Chicago, IL 60607
                       </span>
				   </p>

           </div>

           <div class="columns download">
              <p>
                 <a href="{{ site.baseurl }}/assets/supporting_docs/curriculum_vitae.pdf" class="button"><i class="fa fa-download"></i>Download Curriculum Vitae</a>
              </p>
           </div>

        </div>

     </div>
  </div>
</section>
