<section id="about">

  <div class="row">

     <div class="three columns">

        <img class="profile-pic"  src="{{ site.BASE_PATH }}/assets/images/profilepic.jpg" alt="" />

     </div>

     <div class="nine columns main-col">

        <h2>About Me</h2>

        <p>This is a description about me. Make it very long and descriptive. Blah blah blah blah blah. Blah blah blah blah blah. Blah blah blah blah blah. Blah blah blah blah blah. Blah blah blah blah blah. Blah blah blah blah blah. Blah blah blah blah blah. Blah blah blah blah blah. Blah blah blah blah blah. Blah blah blah blah blah. Blah blah blah blah blah. Blah blah blah blah blah. Blah blah blah blah blah. Blah blah blah blah blah. Blah blah blah blah blah.</p>

        <div class="row">

           <div class="columns contact-details">

              <h2>Contact Details</h2>
              <p class="address">
					   <span>Cyrus Vandrevala</span><br>
					   <span>Purdue University<br>
						     PHYS Room 230<br>
						     525 Northwestern Avenue<br>
						     West Lafayette, IN 47906
                       </span><br>
                 <span>{{ site.email }}</span>
				   </p>

           </div>

           <div class="columns download">
              <p>
                 <a href="{{ site.BASE_PATH }}/assets/supporting_docs/curriculum_vitae.pdf" class="button"><i class="fa fa-download"></i>Download Curriculum Vitae</a>
              </p>
           </div>

        </div> <!-- end row -->

     </div> <!-- end .main-col -->

  </div>

</section> <!-- About Section End-->