<section id="about">
  <div class="row">
     <div class="three columns">

        <img class="profile-pic"  src="{{ site.baseurl }}/assets/images/profilepic.jpg" alt="" />

     </div>

     <div class="nine columns main-col">

        <h2>About Me</h2>

        <p>I am a graduate student at Purdue University, pursuing a Ph.D. in physics with a concentration in computational science. I am especially interested in the overlap between science and software - scientific computing, quantum computing, big data, and data visualization. I use these skills in my research, studying how different structures of online tutorials affect student learning. I spend my free time reading <a href="http://www.goodreads.com/cmvandrevala">textbooks</a>, playing with <a href="http://github.com/cmvandrevala">code</a>, and hosting a <a href="http://blog.cupcakephysics.com">physics blog.</a></p>

        <div class="row">

           <div class="columns contact-details">

              <h2>Contact Details</h2>
              <p class="address">
					   <span>Cyrus Vandrevala</span><br>
					   <span>Purdue University<br>
						     PHYS Room 230<br>
						     525 Northwestern Avenue<br>
						     West Lafayette, IN 47906
                       </span>
				   </p>

           </div>

           <div class="columns download">
              <p>
                 <a href="{{ site.baseurl }}/assets/supporting_docs/curriculum_vitae.pdf" class="button"><i class="fa fa-download"></i>Download Curriculum Vitae</a>
              </p>
           </div>

        </div>

     </div>
  </div>
</section>
