<section id="contact">
    <div class="row section-head">
        <div class="two columns header-col">
            <h1><span>I Would Love to Hear From You!</span></h1>
        </div>
        <div class="ten columns">
            <p class="lead">Please feel free to contact me using the form below.</p>
        </div>
    </div>
    <div class="row">
        <div class="eight columns">
            <form action="//formspree.io/cyrus.vandrevala@gmail.com" method="POST">
			    <label>Name</label>
				<input type="text" size="35" name="name">
				<label>Email</label>
				<input type="email" size="35" name="_replyto">
				<input type="hidden" name="_subject" value="New Submission!">
				<input type="text" name="_gotcha" style="display:none" />
				<label>Message</label>
				<textarea cols="50" rows="19" id="message" name="message"></textarea>
                <button class="submit" type="submit" value="Send">Submit</button>
	 		</form>
        </div>
        <aside class="four columns footer-widgets">
            <div class="widget widget_contact">
                <h4>Address</h4>
				<p class="address">
					<span>Cyrus Vandrevala</span>
		            <br />
					<span>
					    Purdue University<br />
					    PHYS Room 230<br />
						525 Northwestern Avenue<br />
						West Lafayette, IN 47906
					</span>
                </p>
            </div>
            <div class="widget widget_tweets">
                <h4 class="widget-title">Latest Tweets from @CupcakePhysics</h4>
                <ul id="twitter">
				    <li>
					    <a class="twitter-timeline" href="https://twitter.com/CupcakePhysics" data-widget-id="687397649562103809">Tweets by @CupcakePhysics</a>
				    </li>
                </ul>
	        </div>
        </aside>
    </div>
</section>