<header id="home">

  <nav id="nav-wrap">

     <a class="mobile-btn" href="#nav-wrap" title="Show navigation">Show navigation</a>
      <a class="mobile-btn" href="#" title="Hide navigation">Hide navigation</a>

     <ul id="nav" class="nav">
        <li class="current"><a class="smoothscroll" href="#home">Home</a></li>
        <li><a class="smoothscroll" href="#about">About</a></li>
         <li><a class="smoothscroll" href="#resume">Resume</a></li>
        <li><a class="smoothscroll" href="#portfolio">Portfolio</a></li>
        <li><a class="smoothscroll" href="#contact">Contact</a></li>
     </ul>

  </nav>

  <div class="row banner">
     <div class="banner-text">
        <h1 class="responsive-headline">Cyrus Vandrevala</h1>
		<h2>I Love to Solve Complex Problems in Simple Ways.</h2>
        <h3>The world is full of complicated questions just waiting to be answered. I am a graduate student at <span><a href="http://www.purdue.edu/">Purdue University</a></span> with a passion for finding simple patterns within challenging problems. You can <a class="smoothscroll" href="#about">scroll below</a> to learn more <a class="smoothscroll" href="#about">about me</a>.</h3>
        <hr />
        <ul class="social">
           <li><a href="{{ site.facebook }}"><i class="fa fa-facebook"></i></a></li>
           <li><a href="{{ site.twitter }}"><i class="fa fa-twitter"></i></a></li>
           <li><a href="{{ site.youtube }}"><i class="fa fa-youtube"></i></a></li>
           <li><a href="{{ site.linkedin }}"><i class="fa fa-linkedin"></i></a></li>
           <li><a href="{{ site.github }}"><i class="fa fa-github"></i></a></li>
        </ul>
     </div>
  </div>

  <p class="scrolldown">
    <a class="smoothscroll" href="#about"><i class="icon-down-circle"></i></a>
  </p>

</header>