    <!-- Header -->
    <header>
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <img class="img-responsive" src="img/profile.png" alt="">
                    <div class="intro-text">
                        <span class="name">I Love to Solve Complicated Problems in Simple Ways.</span>
                        <hr class="star-light">
                        <span class="skills">The world is full of complicated problems. I love to break them down and uncover the simple patterns among them.</span>
                    </div>
                </div>
            </div>
        </div>
    </header>