<section id="portfolio">
    <div class="row">

		<div class="twelve columns collapsed">

		    <h1>Check Out Some of My Works.</h1>

		    <div id="portfolio-wrapper" class="bgrid-quarters s-bgrid-thirds cf">

            {% for post in site.posts %}
                <div class="columns portfolio-item">
                    <div class="item-wrap">
                        <a href="{{ post.href }}" title="{{ post.projectTitle }}">
							<img alt="{{ post.imageAlt }}" src="{{ site.baseurl }}/{{ post.src }}">
                            <div class="overlay">
                                <div class="portfolio-item-meta">
                                    <h5>{{ post.projectTitle }}</h5>
                                    <p>{{ post.projectLocation }}, {{ post.projectDates}}</p>
                                    <p>{{ post.clients }}</p>
                                </div>
                            </div>
                            <div class="link-icon"><i class="icon-plus"></i>
							</div>
                        </a>
                    </div>
                </div>
           {% endfor %}

           </div>

        </div>

        {% for post in site.posts %}
            <div id="{{ post.modalID }}" class="popup-modal mfp-hide">
	            <img class="scale-with-grid" alt="{{ post.imageAlt }}" src="{{ site.baseurl }}/{{ post.src }}" />
	            <div class="description-box">
	                <h4>{{ post.projectTitle }}</h4>
	                <p>{{ post.description }}</p>
	                <span class="categories"><i class="fa fa-tag"></i>{{ post.projectTags }}</span>
	            </div>
	            <div class="link-box">
	                <a href="{{post.projectLink}}">Link</a>
	                <a class="popup-modal-dismiss">Close</a>
	            </div>
            </div>
        {% endfor %}

    </div>
</section>
