<section id="resume">

  <div class="row education">

     <div class="three columns header-col">
        <h1><span>Education</span></h1>
     </div>

     <div class="nine columns main-col">

        <div class="row item">

           <div class="twelve columns">

              <h3>Purdue University</h3>
              <p class="info">Ph.D. in Physics <span>&bull;</span> <em class="date">August 2016</p>

              <p>During my time at Purdue University, I completed courses in condensed matter physics, computational science, and physics education. I had the opportunity to explore research projects in high energy and condensed matter physics before deciding on my thesis work in physics education research.</p>

           </div>

        </div>

        <div class="row item">

           <div class="twelve columns">

              <h3>Marquette University</h3>
              <p class="info">B.S. in Physics and Biomedical Engineering <span>&bull;</span> <em class="date">December 2009</p>

              <p>I attended Marquette University for my undergraduate studies, completing a double major in biomedical engineering and physics. While there I had the opportunity to put my skills in science and engineering to use while at a co-op position in Boston Scientific and through my research on Type IIb supernovae.</p>

           </div>

        </div>

     </div>

  </div>

  <div class="row work">

     <div class="three columns header-col">
        <h1><span>Work</span></h1>
     </div>

     <div class="nine columns main-col">

        <div class="row item">

           <div class="twelve columns">

              <h3>Software Consultant</h3>
              <p class="info">8th Light Inc. <span>&bull;</span> <em class="date">September 2016 - Present</p>

              <p>During my first six months at the company, I underwent training to effectively work on large software projects. I am now a software consultant at 8th Light.</p>

           </div>

        </div>

        <div class="row item">

           <div class="twelve columns">

              <h3>Graduate Research Assistant</h3>
              <p class="info">Purdue University <span>&bull;</span> <em class="date">January 2015 - August 2016</p>

              <p>I completed my thesis titled "The Development of Purdue's Computerized Interactive Teaching Assistant" in the fall of 2016. Over the past three years, I have developed and implemented different types of online tutorials in the introductory physics classes (Electricity and Optics). Additionally, I conducted surveys and focus group interviews to determine how students use the system during their study sessions. Then, I analyzed the data, looking for patterns in the ways that students think about and solve physics problems. From this data, I developed a model for how students approach online homework and how it differs from traditional paper assignments. This model will help optimize lessons and tutorials in future classes.</p>

           </div>

        </div>

        <div class="row item">

           <div class="twelve columns">

              <h3>Web Developer</h3>
              <p class="info">Purdue University <span>&bull;</span> <em class="date">January 2012 - March 2013</p>

              <p>I helped develop and implement the online version of PHYS 24100 at Purdue University. My responsibilities included editing video lectures, coding new homework questions, and setting up online recitations. Most of the work was done in Perl and Ruby. The online section of PHYS 24100 is still running today, with enrollment increasing every summer. Enrollment in the online class has been steadily rising each summer; the summer of 2015 had a class enrollment of around 200 students, up from 150 in summer 2014.</p>

           </div>

        </div>

        <div class="row item">

           <div class="twelve columns">

              <h3>Graduate Teaching Assistant</h3>
              <p class="info">Purdue University <span>&bull;</span> <em class="date">August 2010 - December 2014</p>

              <p>During the first part of my graduate career, I was a teaching assistant in PHYS 24100 (Electricity and Optics). I was expected to run weekly recitation classes, expanding on the content in the physics lectures. My recitations used different teaching styles for different types of material; for example, I often used an interactive lecture to teach Gauss's law but would run a "flipped classroom" when teaching optics. During the summers, I was appointed as head instructor for PHYS 24100 (Electricity and Optics). My added responsibilities included creating lesson plans, organizing course schedules, finalizing grades, and mentoring other teaching assistants.</p>

           </div>

        </div>

        <div class="row item">

           <div class="twelve columns">

              <h3>Undergraduate Research Assistant</h3>
              <p class="info">Marquette University <span>&bull;</span> <em class="date">August 2009 - August 2010</p>

              <p>I helped design, build, and test the first positron beam at Marquette University. My responsibilities included communicating with vendors to order parts, machining custom parts for the beam line, and testing the beam with an electron source. I gained experience working with liquid cooling systems, high voltage electronics, and large magnetic sources. By the end of my time on the project, we could send an electron beam generated by a heated tungsten wire down to a target.</p>

           </div>

        </div>

        <div class="row item">

           <div class="twelve columns">

              <h3>Undergraduate Teaching Assistant</h3>
              <p class="info">Marquette University <span>&bull;</span> <em class="date">January 2008 - May 2010</p>

              <p>Before I transitioned to graduate school, I was an undergraduate teaching assistant for all of the introductory physics classes (mechanics, electromagnetism, and optics). My responsibilities included teaching classes, grading assignments, running physics labs, and organizing weekly "Help Session" hours for students.</p>

           </div>

        </div>

        <div class="row item">

           <div class="twelve columns">

              <h3>Tutor</h3>
              <p class="info">Marquette University <span>&bull;</span> <em class="date">January 2006 - December 2009</p>

              <p>I worked as a tutor at the Marquette University Tutoring Office, holding weekly scheduled sessions for undergraduate students. The service was complementary to any student who wished to apply. My main responsibilities included reviewing physics, chemistry, engineering, and mathematics with small groups of students. However, on more than one occasion (usually before the exams), I held large drop-in tutoring sessions for groups of up to 30 students. I was appointed as the Physics Tutor Mentor in 2009. My additional responsibilities included meeting with other physics tutors to plan lessons and tracking student progress through the semester to address any problems.</p>

           </div>

        </div>

        <div class="row item">

           <div class="twelve columns">

              <h3>Undergraduate Research Assistant</h3>
              <p class="info">Marquette University <span>&bull;</span> <em class="date">May 2008 - August 2009</p>

              <p>I studied Type IIb supernovae (SNe) for my first undergraduate research project. This involved analyzing radio data from the Very Large Array and x-ray data from the Chandra, Swift, and Newton-XMM satellites under the guidance of Dr. Christopher Stockdale and Dr. Stefan Immler. We used this data to plot the radio light curves for various SNe. These light curves allowed us to see the evolution of a supernova over many months or years; from this data, we explored the possible evolutionary link between Type Ib/c and Type II SNe through Type IIb SNe. I got the opportunity to travel to the NASA Goddard Space Flight Center during the summer of 2009 to meet with Dr. Stefan Immler and learn how to use the CIAO and HEAsoft software packages. These packages would prove instrumental in our research group's goal of studying SNe.</p>

           </div>

        </div>

        <div class="row item">

           <div class="twelve columns">

              <h3>Validation Engineer</h3>
              <p class="info">Boston Scientific <span>&bull;</span> <em class="date">January 2007 - December 2007</p>

              <p>As an elective part of my engineering degree, I worked as a co-op validation engineer for two semesters. During this time, I ran quality tests on a variety of different parts including extruded tubing for minimally invasive surgery, metal for needles and stents, and plastic casings for medical devices. These tests ranged from simply measuring the radii of tubes to plotting the stress-strain curves of different metal rods. These quality tests helped Boston Scientific validate all of their products for the FDA.</p>

           </div>

        </div>

     </div>

  </div>

  <div class="row skill">

     <div class="three columns header-col">
        <h1><span>Skills</span></h1>
     </div>

     <div class="nine columns main-col">

        <p>Physics is constantly evolving. Data analysis techniques are constantly changing. We are designing software in new and more sophisticated ways. Below are just a few of my skills. You can visit my <a href="http://github.com/cmvandrevala">GitHub</a> page or <a class="smoothscroll" href="#portfolio">scroll below</a> to see a few examples of my work.</p>

	</div>

  </div>

</section>
