.download-button {
  background: transparent;
  border: none;
  margin: none;
  vertical-align: middle;
  padding-left: 20px;
  cursor: pointer;

  :hover {
    background-color: lightblue;
    border-radius: 5px;
  }
}
