<!DOCTYPE html>
<html>
<head>
<style>
body {
	margin: 0px 80px 0px 80px;
}
h1 {
	font-size: 170%;
	text-align: center;
	margin: 30px 70px 20px 70px;
}
h2 {
	font-size: 140%;
}
p {
	margin: 20px 0 20px 0;
}
</style>
</head>

<body>
<h1>Thank You for Viewing Our Poster!</h1>

<h2>Background</h2>

<p>Due to the increased popularity of online classes and the rising enrollment in foundational science and engineering courses, professors and teaching assistants are under constant pressure to provide students with the assistance that they need throughout the semester - especially on homework assignments. When direct help from a faculty member is not available, students need an interactive learning tool that guides them through homework problems. This is especially important in an environment where students with diverse schedules must attend class (i.e. managing work and class or studying abroad). Student success in any course requires good communication between students and instructors. However, the expectation of access to faculty at any time is unrealistic with all of the duties of the teaching staff.</p>

<p>We are developing a Computerized Interactive Teaching Assistant (CITA) for the introductory electricity and magnetism course at Purdue University. This program will guide students through homework problems while teaching the nuanced techniques of physics problem solving. Our goal is to design an interactive component for every homework problem that will develop critical thinking and problem solving skills in addition to explaining physical concepts.</p>

<p>Most computerized homework systems only provide a correct or incorrect response to an answer. If a student receives the incorrect message, there is no explanation as to why their logic was wrong. Even worse, these systems do not provide instruction on how to proceed from the point at which the student made a mistake. Sometimes, there is a link to a passage in the textbook that lists the derivation of the problem without specific context. At this point, the student either has to email an instructor, wait for recitation later in the week, or seek special appointments with instructors. Thus, the learning process is interrupted as the student waits for simple guidance. Our goal is to design, develop, implement, and analyze an online system that is available at any time to provide focused guidance to help students acquire critical thinking skills and develop a problem solving strategy.</p>

<p>In the first video, we demonstrate a linear tutorial on a homework problem. This is what most people think of when they go through a tutorial - a step by step analysis of the problem. This structure is useful in some cases, but our overall goal is to reduce the number of purely linear solutions over time.</p>

<center>
<iframe width="400" height="300" src="https://www.youtube.com/embed/M5TPZHltZ7M" frameborder="0" allowfullscreen></iframe>
</center>

<p>In the second video, we demonstrate the branching structure of the CITA system. Notice how the student has an option of two paths down which they can proceed. Additionally, notice how a student can return to any part of the previous analysis at any point during the problem. In fact, if the student has figured out how to complete the problem, he or she may exit the analysis early and enter their answer.</p>

<center>
<iframe width="400" height="300" src="https://www.youtube.com/embed/6DmhicUaxfk" frameborder="0" allowfullscreen></iframe>
</center>

<p>In the final video, the student takes the alternate branch of the problem. Notice how they now continue with analysis of angle rather than an analysis of length. No matter which path they take, they will get to the correct answer.</p>

<center>
<iframe width="400" height="300" src="https://www.youtube.com/embed/0_PqBPvxqPg" frameborder="0" allowfullscreen></iframe>
</center>

<p>We just completed the beta test of our system during the summer 2015 semester. Starting this fall, we are going to analyze student data and make incremental improvements to CITA. We hope that over time, CITA will be an excellent tool for our students.</p>

</body>
</html>