---
layout: base
---

<div>
  <button id="button">
    Download PDF
  </button>
</div>
<article class="post" id="post">
  <header class="post-header">
    <h1 class="post-title">{{ page.title | escape }}</h1>
  </header>

  <div class="post-content">
    <h2>🔖 Topics</h2>
    <ul>
      {% for topic in page.topics %}
      <li>{{ topic }}</li>
      {% endfor %}
    </ul>

    <h2>🎯 Objectives</h2>
    <ul>
      {% for objective in page.objectives %}
      <li>{{ objective }}</li>
      {% endfor %}
    </ul>

    {{ content }}
  </div>
</article>

<script>
  const btn = document.getElementById("button");

  btn.addEventListener("click", function () {
    const element = document.getElementById('post');
    const options = {
      margin: 10,
      filename: "lesson.pdf",
      pagebreak: { mode: ['css', 'avoid-all'] }
    };
    html2pdf().set(options).from(element).save();
  });
</script>
